In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp38-cp38-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 40.2 MB/s
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 119.3 MB/s
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [3]:
import mysql.connector as connector
connection = connector.connect(user = "root", password = "")

In [4]:
cursor = connection.cursor()

In [5]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
cursor.execute("USE little_lemon_db")

In [6]:
# The SQL query for the MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

#*******************************************************#
# Insert query to populate "MenuItems" table: 
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

MenuItems table is created.

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [7]:
# The SQL query for the Menus table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

# Create Menus table
cursor.execute(create_menu_table)
print("Menu table is created.\n")


#*******************************************************#
# Insert query to populate "Menus" table: 
#*******************************************************#
insert_menus="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Menu table is created.

Inserting data in Menus table.
Total number of rows in Menu table: 12

In [8]:
# SQL query for Bookings table::
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

#*******************************************************#
# Insert query to populate "Bookings" table: 
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Bookings table is created.

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

In [9]:
#  SQL query for Orders table: 
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Orders table is created.

Inserting data in Orders table.
Total number of rows in Orders table: 5

In [10]:
#  SQL query for  Employees table: 
create_employees_table="""
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

# Create Employees table
cursor.execute(create_employees_table)

#*******************************************************#
# Insert query to populate "Employees" table: 
#*******************************************************#
insert_employees="""
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""


print("Inserting data in the Employees table.")
# Populate Employees table
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database 
connection.commit()

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

In [11]:
dbconfig = {"database": "little_lemon_db", "user": "root", "password": ""}

In [12]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
try:
    pool = MySQLConnectionPool(pool_name = "pool_a", pool_size = 2, **dbconfig)
except Error as er:
    print("Code", er.errno)
    print("Message", er.msg)

In [13]:
connection1 = pool.get_connection()

In [14]:
cursor = connection1.cursor()

In [18]:
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
stored_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
SELECT 
HOUR(BookingSlot) AS Booking_Hour,
COUNT(HOUR(BookingSlot)) AS Booking_Num
FROM Bookings
GROUP BY Booking_Hour
ORDER BY Booking_Num DESC;
END
"""

In [19]:
cursor.execute(stored_procedure_query)
cursor.callproc("PeakHours")

()

In [20]:
results = next(cursor.stored_results())
data = results.fetchall()

In [21]:
for c_id in cursor.stored_results():
    columns = [c for c in c_id.description]
print(columns)

[('Booking_Hour', 3, None, None, None, None, 1, 32768, 63), ('Booking_Num', 8, None, None, None, None, 0, 32769, 63)]

In [22]:
for d in data:
    print(d)

(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [23]:
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus")
stored_procedure_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 
Bookings.BookingID AS OrderNumber,
CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName,
Role as Employee,
CASE 
    WHEN Role IN ('Manager', 'Assistant Manager') THEN 'Ready to Pay'
    WHEN Role = 'Head Chef' THEN 'Ready to serve'
    WHEN Role = 'Assitant Chef' THEN 'Preparing Order'
    WHEN Role = 'Head Waiter' THEN 'Order served'
    ELSE 'Pending' 
END AS Status
FROM Bookings
LEFT JOIN Employees on Employees.EmployeeID = Bookings.EmployeeID;
END
"""

In [24]:
cursor.execute(stored_procedure_query)
cursor.callproc("GuestStatus")

()

In [25]:
results = next(cursor.stored_results())
data = results.fetchall()

In [26]:
for d in data:
    print(d)

(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Pending')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

In [27]:
connection1.close()

In [28]:
connection2 = pool.get_connection()
cursor2 = connection2.cursor()

In [30]:
booking1 = """INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES
(8, 'Anees', 'Java', '18:00:00', 6);"""
cursor2.execute(booking1)
connection2.commit()

In [31]:
connection3 = pool.get_connection()
cursor3 = connection3.cursor()

In [32]:
booking2 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES 
(5, 'Bald', 'Vin', '19:00:00', 6);
"""
cursor3.execute(booking2)
connection3.commit()

In [33]:
try:
    connection4 = pool.get_connection()
    print("The guest is connected")
except:
    new_connection = connector.connect(user = "root", password = "")
    pool.add_connection(cnx=new_connection)
    connection4 = pool.get_connection()

In [34]:
cursor4 = connection4.cursor()
booking4 = """INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) 
VALUES (12, 'Jay', 'Kon', '19:30:00', 6);"""
cursor4.execute(booking4)
connection4.commit()

In [35]:
for conn in [connection2, connection3, connection4]:
    try:
        conn.close()
        print("Connection returned to the pool")
    except Error as er:
        print("Connection cannot be returned")
        print(er.msg)

Connection returned to the pool
Connection returned to the pool
Connection cannot be returned
Failed adding connection; queue is full